* {
    /*size - position*/
    padding: 0;
    margin: 0;

    /*style*/
    font-family: Arial;
    font-weight: bold;
    font-size: 2vh;
    color: var(--secondary-color);
    user-select: none;
    transition: .5s;

    /*grid*/

    /*var*/
    --first-color: #F2F2F0;
    --secondary-color: #0D0C0B;
    --tertiary-color: #E8FF54;
    --quaternary-color: #23142E;
}

@font-face {
    font-family: Title;
    src: url(/lib/fonts/ScaryHalloweenFont.ttf);
}

@font-face {
    font-family: Countdown;
    src: url(/lib/fonts/DS-DIGI.TTF);
}

::-webkit-scrollbar {
    /*size - position*/
    width: 0px;

    /*style*/

    /*grid*/
}

html {
    /*size - position*/

    /*style*/
    scroll-behavior: smooth;

    /*grid*/
}

.mask {
    /*size - position*/
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    /*style*/
    opacity: .5;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);

    /*grid*/
}

@media (min-width: 1025px) {
    .container-1 {
        /*size - position*/
        position: absolute;
        width: 100vw;
        height: 100vh;

        /*style*/

        /*grid*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        /*size - position*/
        position: absolute;
        margin-top: 25vh;

        /*style*/
        font-family: Title;
        text-align: center;
        font-size: 15vh !important;
        color: var(--tertiary-color);

        /*grid*/
    }

    .countdown-1 {
        /*size - position*/
        position: absolute;
        align-self: flex-end;
        right: 2.5vh;
        bottom: 5vh;

        /*style*/
        text-align: center;

        /*grid*/
    }

    .container-2 {
        /*size - position*/
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin-top: 100vh;

        /*style*/
        background-color: var(--tertiary-color);

        /*grid*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .countdown-2 {
        /*size - position*/
        position: absolute;
        top: 0;
        margin-top: 2.5vh;

        /*style*/
        text-align: center;

        /*grid*/
    }

    .countdown-datetime-2 {
        /*size - position*/
        margin: 2.5vh;

        /*style*/
        font-family: Countdown;
        font-size: 10vh !important;
        color: var(--quaternary-color);

        /*grid*/
    }

    .countdown-subtitle-2 {
        /*size - position*/
        margin: 2.5vh;

        /*style*/
        font-family: Countdown;
        font-size: 5vh !important;
        color: var(--quaternary-color);

        /*grid*/
    }

    .content-1 {
        /*size - position*/
        position: absolute;
        width: 100%;
        margin: 5vh;

        /*style*/

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .map {
        /*size - position*/
        width: 50vh;
        height: 50vh;
        margin: 5vh;
        z-index: 1;

        /*style*/
        background-color: var(--quaternary-color);
        border: 2.5vh solid var(--quaternary-color);
        border-radius: 2.5vh;

        /*grid*/
    }

    .description {
        /*size - position*/
        width: 50vh;
        height: 50vh;
        margin: 5vh;

        /*style*/
        background-color: var(--quaternary-color);
        border: 2.5vh solid var(--quaternary-color);
        border-radius: 2.5vh;
        color: var(--first-color);

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content-2 {
        /*size - position*/
        position: absolute;
        width: 100%;
        margin-top: 75vh;

        /*style*/

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .map-subtitle,
    .btn-content {
        /*size - position*/
        width: 50vh;
        height: 5vh;
        margin: 5vh;
        z-index: 2;

        /*style*/
        background-color: var(--quaternary-color);
        border: 2.5vh solid var(--quaternary-color);
        border-radius: 2.5vh;
        color: var(--first-color);

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .linkLocal,
    .linkHospital {
        /*size - position*/
        margin: 5vh;

        /*style*/
        color: var(--first-color);
        text-decoration: none;

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icon-subtitle {
        /*size - position*/
        width: 5vh;
        height: 5vh;
        margin-right: 1vh;

        /*style*/
        background-color: var(--first-color);
        border-radius: 2.5vh;
        overflow: hidden;

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn {
        /*size - position*/
        width: 5vh;
        height: 5vh;
        margin: 5vh;

        /*style*/
        background-color: var(--tertiary-color);
        border: none;
        border-radius: 2.5vh;
        color: var(--first-color);
        cursor: pointer;

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn label {
        /*size - position*/
        display: none;

        /*style*/
        cursor: pointer;
        color: var(--quaternary-color);

        /*grid*/
    }

    .person-check {
        /*size - position*/
        width: 2.5vh;

        /*style*/
        fill: var(--quaternary-color);

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn:hover {
        /*size - position*/
        width: 50vh;
        height: 5vh;
        margin: 0;

        /*style*/
        background-color: var(--tertiary-color);
        border-radius: 2.5vh;
        color: var(--first-color);

        /*grid*/
    }

    .btn:hover label {
        /*size - position*/
        display: flex;

        /*style*/

        /*grid*/
    }

    .btn:hover .person-check {
        /*size - position*/
        display: none;

        /*style*/

        /*grid*/
    }
}

@media (max-width: 1025px) {
    .container-1 {
        /*size - position*/
        position: absolute;
        width: 100vw;
        height: 100vh;

        /*style*/

        /*grid*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        /*size - position*/
        position: absolute;
        margin-top: 25vh;

        /*style*/
        font-family: Title;
        text-align: center;
        font-size: 5vh !important;
        color: var(--tertiary-color);

        /*grid*/
    }

    .countdown-1 {
        /*size - position*/
        position: absolute;
        align-self: center;
        bottom: 5vh;

        /*style*/
        text-align: center;

        /*grid*/
    }

    .container-2 {
        /*size - position*/
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin-top: 100vh;

        /*style*/
        background-color: var(--tertiary-color);
        overflow: scroll;

        /*grid*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .countdown-2 {
        /*size - position*/
        position: absolute;
        top: 0;
        margin-top: 10vh;

        /*style*/
        text-align: center;

        /*grid*/
    }

    .countdown-datetime-2 {
        /*size - position*/
        margin: 2.5vh;

        /*style*/
        font-family: Countdown;
        font-size: 5vh !important;
        color: var(--quaternary-color);

        /*grid*/
    }

    .countdown-subtitle-2 {
        /*size - position*/
        margin: 2.5vh;

        /*style*/
        font-family: Countdown;
        font-size: 2vh !important;
        color: var(--quaternary-color);

        /*grid*/
    }

    .content-1 {
        /*size - position*/
        position: absolute;
        width: 100%;
        margin: 5vh;

        /*style*/

        /*grid*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map {
        /*size - position*/
        display: none;

        /*style*/

        /*grid*/
    }

    .description {
        /*size - position*/
        width: 25vh;
        margin: 5vh;

        /*style*/
        background-color: var(--quaternary-color);
        border: 2.5vh solid var(--quaternary-color);
        border-radius: 2.5vh;
        color: var(--first-color);

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content-2 {
        /*size - position*/
        position: absolute;
        width: 100%;
        margin-top: 100vh;

        /*style*/
        overflow: scroll;

        /*grid*/
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .map-subtitle,
    .btn-content {
        /*size - position*/
        width: 25vh;
        height: 10vh;
        margin: 2.5vh;
        z-index: 2;

        /*style*/
        background-color: var(--quaternary-color);
        border: 2.5vh solid var(--quaternary-color);
        border-radius: 2.5vh;
        color: var(--first-color);

        /*grid*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .linkLocal {
        /*size - position*/
        display: none;
        margin: .5vh;

        /*style*/
        color: var(--first-color);
        text-decoration: none;

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .linkHospital {
        /*size - position*/
        display: none;

        /*style*/

        /*grid*/
    }

    .icon-subtitle {
        /*size - position*/
        width: 5vh;
        height: 5vh;
        margin-right: 1vh;

        /*style*/
        background-color: var(--first-color);
        border-radius: 2.5vh;
        overflow: hidden;

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn {
        /*size - position*/
        width: 25vh;
        height: 10vh;
        margin: 0;

        /*style*/
        background-color: var(--tertiary-color);
        border: none;
        border-radius: 2.5vh;
        color: var(--first-color);
        cursor: pointer;

        /*grid*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn label {
        /*size - position*/
        display: initial;

        /*style*/
        cursor: pointer;
        color: var(--quaternary-color);

        /*grid*/
    }

    .person-check {
        /*size - position*/
        width: 2.5vh;

        /*style*/
        fill: var(--quaternary-color);

        /*grid*/
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn:hover {
        /*size - position*/
        width: 5vh;
        height: 5vh;
        margin: 0;

        /*style*/
        background-color: var(--tertiary-color);
        border-radius: 2.5vh;
        color: var(--first-color);

        /*grid*/
    }

    .btn:hover label {
        /*size - position*/
        display: none;

        /*style*/

        /*grid*/
    }

    .btn:hover .person-check {
        /*size - position*/
        display: initial;

        /*style*/

        /*grid*/
    }
}

.background-1 {
    /*size - position*/
    width: 100vw;
    height: 100vh;

    /*style*/
    background: var(--secondary-color);
    background-image: url(/lib/images/bk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /*grid*/
}

.countdown-datetime-1 {
    /*size - position*/
    margin: 2.5vh;

    /*style*/
    font-family: Countdown;
    font-size: 5vh !important;
    color: var(--tertiary-color);

    /*grid*/
}

.countdown-subtitle-1 {
    /*size - position*/
    margin: 2.5vh;

    /*style*/
    font-family: Countdown;
    font-size: 2vh !important;
    color: var(--tertiary-color);

    /*grid*/
}

.background-bottom-1 {
    /*size - position*/
    width: 100vw;
    height: 2.5vh;
    bottom: 0;

    /*style*/
    background: var(--tertiary-color);

    /*grid*/
}

.arrow-up {
    /*size - position*/
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 2.5vh;
    left: 2.5vh;
    z-index: 2;

    /*style*/
    fill: var(--quaternary-color);
    cursor: pointer;
    text-decoration: none;

    /*grid*/
}